{% extends 'base.html' %}{% block content%}
<style>

	.scroll	{
		overflow: hidden;
		overflow: scroll;
		height:450px;
	}

	ul,a{
		text-decoration: none;
		list-style: none;
	}
	a:hover	{
    text-decoration:none;
   	}
   	.box{
   		background-color:#f7f7f7;
   		padding: 10px 0px 0px 25px;
   	}
   	.box li{
   		margin-left: -50px;
   	}
  
</style>

<h4 class="text-muted" style="text-align: center;">
	<a href="" style="text-decoration:none;">Linking Account To Group</a>
</h4>
<button type="button" class="btn btn-sm btn-info" style="margin-left: 600px;margin-top: 10px;color: white;"><a href="{% url 'creategroup' %}" style="text-decoration: none;color: white;">Create a group</a></button>
<hr>		 
<div class="container" style="margin: 30px 0px 30px 0px;">
	<div class=" row " style="border:1px solid #f2f2f2;padding:10px 0px 10px 5px;">
		<div class="scroll col-sm-5">
			
		<form action="#" method="post" enctype="multipart/form-data">
			<table class="table table-striped" style="margin-bottom: 50px;border: none;" id="table1">

				<!-- print excel data in table -->
				<tbody class=" dragtarget">				
					{% for row in excel_data %}
					<tr draggable="true" id= 'rowt-{{ forloop.counter0}}' >
						<td><input type="checkbox" name="check-tab1"></td>
						{% for cell in row %}
						
							{% if cell != blank	 %}
							<td><a href="#" style="text-decoration: none;list-style: none;color: #000;">{{ cell }}</a></td>
							{% endif  %}

						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>

			</table>
		</form>
		</div>
		<div class="col-sm-0.5" style="margin:0px 8px 0px 8px;">
			<div class="btn-group-vertical">
				<button type="button" class="btn btn-danger" style="margin-top:5px;width:30px;height: 30px;"><i class="fa fa-sync-alt" aria-hidden="true" style="margin:-5px 0px 0px -6px;"></i></button>

				<button type="button" class="btn btn-danger"  style="margin-top:5px;width:30px;height: 30px;"><i class="fa fa-sync-alt" aria-hidden="true" style="margin:-5px 0px 0px -6px;"></i></button>

				<button onclick="tab1_To_tab2();" type="button" class="btn btn-danger"  style="margin-top:5px;width:30px;height: 30px;"><i class="fa fa-caret-right" aria-hidden="true" style="margin-top:-5px;font-size: 30px;"></i></button>

				<button onclick="deleteRow();" type="button" class="btn btn-danger"  style="margin-top:5px;width:30px;height: 30px;"><i class="fa fa-caret-left" aria-hidden="true" style="margin:-5px 0px 0px -6px;font-size: 30px;"></i></button>
			</div>
		</div>
		<div class="scroll col-sm-6 box">

			<div  class="droptarget">
 			
			    {% for item in GroupData %}
			    <ul>
			        <li id='row-{{ forloop.counter0}}'><a href="##" ><i class="fa fa-folder" aria-hidden="true" style="color: #ecda82;"></i> {{ item.group_name }}</a></li>			        
			    </ul>
		    	{% endfor %}

		    	<!-- for getting id on click of folder -->
				<script type="text/javascript">
					
				var reply_click = function()
				{
					id = this.id;
					window.console.log(id);
				}
				{% for item in GroupData %}
				document.getElementById('row-{{ forloop.counter0}}').onclick = reply_click;
				{% endfor %}
				</script>

			</div>

			<div class="droptarget" style="width: 500px;height: 300px;overflow: hidden;overflow: scroll;"></div><p id="demo"></p>

		</div>


		<div class="col-sm-0.5">
			<div class="btn-group-vertical" style="margin:0px 0px 0px 8px;">
				<button type="button" class="btn btn-danger" style="margin-top:5px;width:30px;height: 30px;"><i class="fa fa-caret-up" aria-hidden="true" style="margin:-8px 0px 0px -6px; font-size: 30px;"></i></button>

				<button type="button" class="btn btn-danger"  style="margin-top:5px;width:30px;height: 30px;"><i class="fa fa-caret-down" aria-hidden="true" style="margin:-5px 0px 0px -6px;font-size: 30px;"></i></button>
			</div>
		</div>
	</div>

<script>

// for getting id (globally) of folder

var id ;
let OnEvent = (doc) => {
    return {
        on: (event, className, callback) => {
            doc.addEventListener('click', (event)=>{
                if(!event.target.classList.contains(className)) return;
                callback.call(event.target, event);
            }, false);
        }
    }
};

OnEvent(document).on('click', 'btn', function (e) {
    window.console.log(this, e);
});


// drag and drop feature
document.addEventListener("dragstart", function(event) {
	console.log("id", event.target.id)
  event.dataTransfer.setData("Text", event.target.id);
  
  document.getElementById("demo").innerHTML = "Started to drag the p element.";
  
  event.target.style.opacity = "0.4";
});

document.addEventListener("drag", function(event) {
  document.getElementById("demo").style.color = "red";
});

document.addEventListener("dragend", function(event) {
  document.getElementById("demo").innerHTML = "Finished dragging the p element.";
  event.target.style.opacity = "1";
});

document.addEventListener("dragenter", function(event) {
  if ( event.target.className == "droptarget" ) {
    event.target.style.border = "3px dotted red";
  }
});

document.addEventListener("dragover", function(event) {
  event.preventDefault();
});

document.addEventListener("dragleave", function(event) {
  if ( event.target.className == "droptarget" ) {
    event.target.style.border = "";
  }
});

document.addEventListener("drop", function(event) {
  event.preventDefault();
  if ( event.target.className == "droptarget" ) {
    document.getElementById("demo").style.color = "";
    event.target.style.border = "";
    var data = event.dataTransfer.getData("Text");
    console.log("event", data)
    var el = document.getElementById(data)
    var cloned_el = el.cloneNode(true);
    console.log("drop id", id)
    console.log("elem",event.target )
    var selected_elem = document.getElementById(id).appendChild(cloned_el);
  }
});


// logic for sending data from one table to another table after clicking on checkbox
function tab1_To_tab2()
{
    var table1 = document.getElementById("table1"),
        checkboxes = document.getElementsByName("check-tab1");
        var table2 = document.createElement("table");
			var tblBody = document.createElement("tbody");
        var elem = id;
 	for(var i = 0; i< table1.rows.length; i++){
     if(checkboxes[i].checked)
        {
        	  var newRow = table2.insertRow(table2.length);
        	  console.log("row", table1.rows[i])
			   for (var j = 0; j< table1.rows[i].cells.length; j++) {
			   var 	 cell = newRow.insertCell(j);
			   console.log("cell", table1.rows[i].cells[j])
			   	  cell.innerHTML = table1.rows[i].cells[j].innerHTML;
			   }  

            checkboxes[i].checked = false;
           
        }       
     }  
	var currentDiv = document.getElementById(elem); 
	currentDiv.appendChild(table2);
}


// logic for delete row after clicking on checkbox
function deleteRow()
{
    var table = document.getElementById("table2"),
    checkboxes = document.getElementsByName("check-tab1");
   
	for(var i = 0; i < checkboxes.length; i++)
		if(checkboxes[i].checked)
		{
		    var table = document.getElementById ("table2");
		    if (table.rows.length > 0) {
		        table.deleteRow (0);
		    }
		}
}


</script>

{% endblock %}

