{% extends 'base.html' %}{% load static %}
{% block content%}

<style>
	input{
		width:250px;
		margin-right: 10px;
		padding: 10px;
		height: 30px;
		font-size: 15px;
		margin-bottom:20px;
	}
	select{
		width:250px;
		height: 30px;
		font-size: 15px;
		border-radius: 3px;
		margin-bottom:20px;
	}
	button{
		width: 255px;
		color: white;
	}
	.tb{
		width: 600px;
		margin: auto;
		margin-top:50px;
	}
	.uploaddiv {
		position: relative;
		overflow: hidden;
		width: 258px;
		padding:0px 0px 0px 30px;
	}
	.uploadinput {
		  position: absolute;
		  opacity: 0;
		  right: 0;
		  top: 0;
	}

</style>

<script>
// logic for validation of file
var _validFileExtensions = [".xlsx", ".xls"];    
function Validate(oForm) {
    var arrInputs = oForm.getElementsByTagName("input");
    for (var i = 0; i < arrInputs.length; i++) {
        var oInput = arrInputs[i];
        if (oInput.type == "file") {
            var sFileName = oInput.value;
            if (sFileName.length > 0) {
                var blnValid = false;
                for (var j = 0; j < _validFileExtensions.length; j++) {
                    var sCurExtension = _validFileExtensions[j];
                    if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                        blnValid = true;
                        break;
                    }
                }
                
                if (!blnValid) {
                    alert("Sorry, " + sFileName + " is invalid, allowed extensions are: " + _validFileExtensions.join(", "));
                    return false;
                }
            }
        }
    } 
    return true;
}
</script>

<div class="container">
	<button type="button" class="btn btn-sm btn-outline-info" style="width: 150px;height: 35px;"><a href="{% url 'company' %}" style="text-decoration: none;">Company</a></button>

	<form method="POST" action="{% url 'dataupload' %}" id="dataupload" name="dataupload" class="post-form" enctype="multipart/form-data" data-ajax="false" onsubmit="return Validate(this);">
	{% csrf_token %}
	<div class="table table-responsive tb">
		
		<tr>
			<td>
				<input type="text" placeholder="Choose Company " readonly>
			</td>

			<td>
				<select name="company" id="company" required>
				  <option value=""></option>
			    </select>
			</td>
		</tr><br>
		
		<tr>
			<td>
				<input type="text" placeholder="Select Account Software " readonly>
			</td>

			<td>
				<select name="account_software" id="account_software" required>
				  <option value=""></option>
				  {% for list in ListAccount %}
			      <option value="{{list}}">{{list}}</option>
			      {% endfor %}
			    </select>
			</td>
		</tr><br>

		<tr>
			<td>
				<input type="text" placeholder="Select Fiscal Year " readonly>
			</td>

			<td>
			    <select name="account_software" id="account_software" required>
				  <option value=""></option>
				  {% for y in dateList %}
			      <option value="{{y}}">{{y}}</option>
			      {% endfor %}
			    </select>
			    
			</td>
		</tr><br>

		<tr>
			<td>
				<input type="text" placeholder="Select Fiscal Month " readonly>
			</td>

			<td>
				<select name="fiscal_month" id="fiscal_month" required>
				  <option value=""></option>
				  {% for key, value in AllMonths.items %}
			      <option value="{{value}}">{{key}}</option>
			      {% endfor %}
			    </select>
			</td>
		</tr><br>

		<tr>
			<td>
				<input type="text" placeholder="Currency " readonly>
			</td>

			<td>
				<select name="currency" id="currency" required>
				  <option value=""></option>
				  {% for currency in currency %}
			      <option value="{{currency}}">{{currency}}</option>
			      {% endfor %}
			    </select>
			</td>
		</tr><br>
		<tr>
			<td>
				<div class="file btn btn-lg btn-secondary uploaddiv">
					<span>Choose File</span>
					<input class="uploadinput" type="file" name="excel_file" id="myfile" />
				</div>
			</td>

			<td>
				<button type="submit" class="btn btn-sm btn-info"><a style="text-decoration: none;color: white;">Upload</a></button>
			</td>
		</tr>

		</div>
	</form>
</div>
<hr style="margin-top: 50px;">
{% endblock %}